body{
	position: relative;
	background-color: #fff;
	color: #ADADAD;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: #ADADAD;
}
ul{
	list-style-type: none;
	margin: 0;
}

/***************** MOBILE FIRST *****************/

/*header*/
header{
	width: 100%;
	height: 50px;
	background: #fff;
	z-index: 1;
}

.mobile-nav{
	width: 95%;
	margin: auto;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.desktop-nav{
	display: none;
}

.nav-bar{
	font-size: 20px;
	padding: 15px;
	color: #ADADAD;

}

.nav-bar:hover, .nav-bar:active{
	border-bottom: 2px solid #56C4CF;
	color: #56C4CF;
}

.mobile-logo{
	height: 50px;
	width: auto;
}

#side-nav {
    height: 300px; 
    width: 100%; 
    display: none;
    position: fixed;
    z-index: 100; 
    top: 0;
    left: 0;
    background-color: #fff;
    padding-top: 20px; 
    padding-left: 55px;
    transition: 2s; 
    text-align: left;

}

#side-nav li a {
    padding: 8px 0px 8px 0px;
    font-size: 18px;
    color: #ADADAD;
    display: block;
    transition: 2s;
}

.fa-times{
	position: absolute;
    top: 0;
    right: 50px;
    font-size: 20px;
    padding: 15px;
   color: #56C4CF;
}
.close-btn{
	display: inline-block;
}
.wrapper{
background: #edeaea;
}

/**** about us ****/
#about{
	display: flex;
	flex-direction: column;
	background: white;
	margin: 0px auto;
	margin-bottom: 20px;
}

/*** logo image ***/
.image-container{
	width: 20%;
	margin: auto;
	margin-top: 30px;
	padding: 30px 0;
	border-bottom: 1px solid #ADADAD;
}
.image-container img{
	width: 100%;
	height: auto;
}

.intro-italic{
	font-style: italic;
	font-size: 15px;
	text-align: justify;
	margin:50px auto;
	width: 70%;
	line-height: 25px;
	
}
.about-row{
	padding-bottom: 60px;

}
.about-row p{
	width: 50%;
	font-size: 14px;
	letter-spacing: 0.2px;
	text-align: justify;
	padding-top: 10px;
}
.about-row img{
	width: 50%;
	height: 400px;
	/*padding-bottom: 100px;*/
}

section{
	width: 80%;
	margin: auto;
}
p{
	text-indent: 30px;
}

/***** footer *****/

footer{
	background: #2a3457;	
}

.info{
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height:25px;
	font-size: 18px;
	padding-left: 13px;
	padding-top: 5px;
	color: white;
	margin-left: 0;	

}

.info i{
	padding-left: 20px;
	padding-top: 8px;
	
}
.info div a{
	font-size: 13px;
	color: #fff;
}

.copyright p{
	text-align: center;
	font-size: 12px;
	color: white;
	margin: 0px;
}



@media only screen and (min-width: 993px){
	/****navigation****/

	.mobile-nav{
		display: none;
	}

	.desktop-nav{
		display: flex;
    	justify-content: space-around;
    	align-content: center;
    	width: 100%;
	}

	.desktop-logo{
		height: 50px;
		width: auto;
		padding: ;
	}

	nav{
		height: 50px;
	}

	.desktop-nav nav ul{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		vertical-align: baseline;
	}

	.navigation{
	display: inline-block;
	text-align: center;
	padding: 7px;
	}

	.desktop-nav nav ul li a{
		font-size: 15px;

		padding: 10px 15px;
	}

	.desktop-nav nav ul li a:hover, .desktop-nav nav ul li a:active{
		border-bottom: 2px solid #56C4CF;
		color: #56C4CF;

	}

	/****** about *****/
	#about{
		width: 77.5%;
	/*	margin: 30px auto;*/
		border: 1px solid #ADADAD;
	}

	.intro-italic{
		font-size: 18px;
	}
	.about-row{
	display: flex;
	flex-flow: row nowrap;
	}
	.about-row p{
	width: 50%;
	font-size: 16px;
	letter-spacing: 0.5px;
	text-align: justify;
	padding: 30px 50px;
	}
	.about-row p:last-child{
	padding-right: 0px;

	}
	.about-row p:first-child{
	padding-left: 0px;
	}
	section{
	width: 90%;
	margin: auto;
	}


}